<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/config.css">
    <link rel="stylesheet" href="/css/about.css">
    <title>Good Fischer About Us</title>

    <script src="/js/about.js"></script>
</head>
<body>
    <header>
        <img src="/temporary-images/logo-pink.png" alt="">
    </header>
    <div class="container">
        <div class="text div_c">
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut wisi enim ad minim veniam, quis nostrud exerci
                tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea commodo consequat. Duis autem vel eum iriure
                dolor in hendrerit in vulputate velit esse molestie
                consequat, vel illum dolore eu feugiat nulla facilisis
                at vero eros et accumsan et iusto odio dignissim
                qui blandit praesent luptatum zzril delenit augue
                duis dolore te feugait nulla facilisi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut wisi enim ad minim veniam, quis nostrud exerci
                tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea commodo consequat.
            </p>
        </div>
        <div class="img_div div_c">
            <img id="img-static" src="/temporary-images/img-16-a.png" alt="">
            <div id="img-loop" class="img_loop_div">
                <img  src="/temporary-images/girador.png" alt="">
            </div>
        </div>
    </div>

    
</body>
</html>