<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/config.css">
    <link rel="stylesheet" href="/css/about-2.css">
    <title>Good Fischer About Us</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="/temporary-images/logo-pink.png" alt="">
        </a>
    </header>
    <div class="container">
        <div class="text div_c_1">
            <div id="img-loop" class="img_loop_div">
                <img  src="/img/girador-1.png" alt="">
            </div>
            <div class="txt">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    Ut wisi enim ad minim veniam, quis nostrud exerci
                    tation ullamcorper suscipit lobortis nisl ut aliquip ex
                    ea commodo consequat. Duis autem vel eum iriure
                    dolor in hendrerit in vulputate velit esse molestie
                    consequat, vel illum dolore eu feugiat nulla facilisis
                    at vero eros et accumsan et iusto odio dignissim
                    qui blandit praesent luptatum zzril delenit augue
                    duis dolore te feugait nulla facilisi.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    Ut wisi enim ad minim veniam, quis nostrud exerci
                    tation ullamcorper suscipit lobortis nisl ut aliquip ex
                    ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="img_div div_c_2">
            <img id="img-static" src="/img/about-us-print.png" alt="">
        </div>
    </div>

    <!-- <script src="/js/about.js"></script> -->
</body>
</html>