<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/config.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>GoodFischer</title>
</head>
<body>
    <header>
        <a>Projects</a>
        <a>About Us</a>
        <!-- <a href="./projects-menu.html">Projects</a>
        <a href="./about-us.html">About Us</a> -->
    </header>
    <div class="logo">
        <img src="/temporary-images/logo-1.png" alt="logo-1">
    </div>

    <div class="project p1">
        <img src="/temporary-images/img-1.png" alt="">
    </div>

    <div class="project p2">
        <img src="/temporary-images/img-2.png" alt="">
    </div>

    <div class="project p3">
        <img src="/temporary-images/img-3-mc.png" alt="">
    </div>

    <div class="project p4">
        <img src="/temporary-images/img-4.png" alt="">
    </div>

    <div class="project p5">
            <img src="/temporary-images/img-6.png" alt="">
    </div>

    <div class="project p6">
        <img src="/temporary-images/img-7.png" alt="">
    </div>

    <div class="project p7">
        <img src="/temporary-images/img-8.png" alt="">
    </div>

    <div class="project p8">
        <img src="/temporary-images/img-9-mc.png" alt="">
    </div>

    <div class="fischer">
        <img src="/temporary-images/logo-fischer.png" alt="">
    </div>

    <div class="bottom_img">
        <img src="/temporary-images/img-10.png" alt="">
    </div>
</body>
</html>