<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 id="texto">Salve Memo</h1>
    <button onclick="alteraroTexto()">Altere o texto</button>
    <img src="/img/teste-hn.png" alt="">
    <a href="index-2">teste</a>
    <script src="/js/index.js"></script>
</body>
</html>