<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/config.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>GoodFischer</title>
</head>
<body>
    <!-- <div class="container"> -->

    
        <header>
            <!-- <a>Projects</a>
            <a>About Us</a> -->
            <a href="/projects"><img src="/img/project-png.png" alt=""></a>
            <!-- <a href="/about"><img src="/img/about-us-png.png" alt=""></a> -->
            <a href="/about-2"><img src="/img/about-us-png.png" alt="">salvee</a>
        </header>
        <div class="logo">
            <img src="/img/h1-copia.png" alt="logo-1">
        </div>

        <div class="fundo_2">

        
        <div class="project p1">
            <img src="/img/FOTOS-12.png" alt="">
        </div>

        <!-- <img src="/img/fundo-2.png" alt="" class="fundo_2"> -->

        <div class="project p2">
            <img src="/img/FOTOS-13.png" alt="">
        </div>

        <div class="project p3">
            <img src="/img/FOTOS-14.png" alt="">
        </div>

        <div class="project p4">
            <img src="/img/FOTOS-15.png" alt="">
        </div>

        <div class="project p5">
            <img src="/img/FOTOS-16.png" alt="">
        </div>

        <div class="project p6">
            <img src="/img/FOTOS-17.png" alt="">
        </div>

        <div class="project p7">
            <img src="/img/FOTOS-18.png" alt="">
        </div>

        <div class="project p8">
            <img src="/img/FOTOS-19.png" alt="">
        </div>

        <div class="fischer">
            <img src="/temporary-images/logo-fischer.png" alt="">
        </div>

        <div class="bottom_img">
            <img src="/temporary-images/img-10.png" alt="">
        </div>
        </div>
</body>
</html>