<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/config.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>GoodFischer</title>
</head>
<body>
    

    
    <header>
        <!-- <a>Projects</a>
        <a>About Us</a> -->
        <a href="/projects"><img src="/img/project-png.png" alt=""></a>
        <!-- <a href="/about"><img src="/img/about-us-png.png" alt=""></a> -->
        <a href="/about-2"><img src="/img/about-us-png.png" alt=""></a>
    </header>
    <div class="logo">
        <img src="/img/h1-copia.png" alt="logo-1">
    </div>

    <div class="teste_fundo">
        <img src="/img/fundo-2-of.png" alt="">
    </div>

    <div class="fundo_2">

        <!-- VIGOR -->
        <div class="project p1">
            <div class="div_link" id="div-vigor">
                <img src="/img/FOTOS-12.png" alt="">
                <div class="titles_p_div titles_p_div_2">
                    <p class="p_1">VIGOR</p>
                    <p class="p_2">FUN</p>
                    <p class="p_3">APPETITE APPEAL</p>
                </div>
            </div>
        </div>

        <!-- <img src="/img/fundo-2.png" alt="" class="fundo_2"> -->

        <!--MÉQUI -->
        <div class="project p3">
            <div class="div_link">
                <img src="/img/FOTOS-14.png" alt="">
                <div class="titles_p_div titles_p_div_2">
                    <p class="p_1">MÉQUI</p>
                    <p class="p_2">FUN</p>
                    <p class="p_3">FOOD</p>
                </div>
            </div>
        </div>

        <!-- ANITA -->
        <div class="project p5"> 
            <div class="div_link">
                <img src="/img/FOTOS-16.png" alt="">
                <div id="div-title-mc" class="titles_p_div titles_p_div_4">
                    <p class="p_1">CLARO</p>
                    <p class="p_2">CELEB</p>
                </div>
            </div>
        </div>

        <!-- OLX -->
        <div class="project p8">
            <div class="div_link">
                <img src="/img/FOTOS-19.png" alt="">
                <div id="div-title-mc" class="titles_p_div titles_p_div_4">
                    <p class="p_1">OLX</p>
                    <p class="p_2">HUMOR</p>
                    <p class="p_3">CAR</p>
                </div>
            </div>
        </div>

        <!-- LEAF -->
        <div class="project p4">
            <div class="div_link">
                <img src="/img/FOTOS-15.png" alt="">
                <div id="div-title-mc" class="titles_p_div titles_p_div_4">
                    <p class="p_1">LEAF</p>
                    <p class="p_2">DANCE</p>
                    <p class="p_3">REAL ESTATE</p>
                </div>
            </div>
        </div>

        <!-- MC CRIANÇAS -->
        <div class="project p7">
            <div class="div_link">
                <img src="/img/FOTOS-18.png" alt="">
                <div id="div-title-mc" class="titles_p_div titles_p_div_4">
                    <p class="p_1">MC DONALDS</p>
                    <p class="p_2">KIDS</p>
                    <p class="p_3">POETIC</p>
                </div>
            </div>
        </div>

        <!-- BOB  -->
        <div class="project p2">
            <div class="div_link">
                <img src="/img/FOTOS-13.png" alt="">
                <div class="titles_p_div titles_p_div_2">
                    <p class="p_1">B.O.B</p>
                    <p class="p_2">BEAUTY</p>
                    <p class="p_3">SENSITIVE</p>
                </div>
            </div>
        </div>


        <!-- MOVIDA -->
        <div class="project p6">
            <div class="div_link">
                <img src="/img/FOTOS-17.png" alt="">
                <div id="div-title-mc" class="titles_p_div titles_p_div_4">
                    <p class="p_1">MOVIDA</p>
                    <p class="p_2">HUMOR</p>
                    <p class="p_3">CAR</p>
                </div>
            </div>
        </div>

        <!-- POPLOAD -->
        <div class="project p9">
            <div class="div_link">
                <img src="/img/popload-img-2.png" alt="">
                <div id="div-title-mc" class="titles_p_div titles_p_div_4">
                    <p class="p_1">POPLOAD FESTIVAL</p>
                    <p class="p_2">MUSIC FESTIVAL</p>
                    <p class="p_3">POST PRODUCTION</p>
                </div>
            </div>
        </div>

        <!-- HBO MAX -->
        <div class="project p10">
            <div class="div_link">
                <img src="/img/HBO-MAX-IMG.png" alt="">
                <div id="div-title-mc" class="titles_p_div titles_p_div_4">
                    <p class="p_1">QUEEN STARS BRASIL</p>
                    <p class="p_2">REALITY SHOW</p>
                    <p class="p_3">CELEBS</p>
                </div>
            </div>
        </div>


        <!-- NETFLIX -->
        <div class="project p11">
            <div class="div_link">
                <img src="/img/FOTOS-20.PNG" alt="">
                <div id="div-title-mc" class="titles_p_div titles_p_div_4">
                    <p class="p_1">NETFLIX</p>
                    <p class="p_2">HUMOR</p>
                    <p class="p_3">DIALOG</p>
                </div>
            </div>
        </div>

        <!-- MC DONALDS MEMES -->
        <div class="project p12">
            <div class="div_link">
                <img src="/img/MCDONALDS-MEMES.png" alt="">
                <div id="div-title-mc" class="titles_p_div titles_p_div_4">
                    <p class="p_1">MC DONALDS MEMES</p>
                    <p class="p_2">MHUMOR</p>
                    <p class="p_3">POST PRODUCTION</p>
                </div>
            </div>
        </div>

    </div>

    <script src="/js/index.js"></script>
</body>
</html>