<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/config.css">
    <link rel="stylesheet" href="./css/projects-menu.css">
    <title>Good Fischer</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/temporary-images/logo-orange.png" alt="">
            </a>
        </div>

        <ul>
            <!-- <li><a href="" class="project_link"><img src="/img/avon-word.png" alt=""><img src="/img/opacity-1.png" alt=""></a></li>
            <li><a href="" class="project_link"><img src="/img/vigor-word.png" alt=""><img src="/img/opacity-1.png" alt=""></a></li>
            <li><a href="" class="project_link"><img src="/img/claro-word.png" alt=""><img src="/img/opacity-1.png" alt=""></a></li>
            <li><a href="" class="project_link"><img src="/img/webmotors-word.png" alt=""><img src="/img/opacity-1.png" alt=""></a></li>
            <li><a href="" class="project_link"><img src="/img/mcDonalds-word.png" alt=""><img src="/img/opacity-1.png" alt=""></a></li>
            <li><a href="" class="project_link"><img src="/img/cocaCola-word.png" alt=""><img src="/img/opacity-1.png" alt=""></a></li>
            <li><a href="" class="project_link"><img src="/img/netflix-word.png" alt=""><img src="/img/opacity-1.png" alt=""></a></li> -->

            <li><a href="" class="project_link">B.O.B <img src="/img/transparent-bob.png" alt=""></a></li>
            <li><a href="" class="project_link">Coca Cola <img src="/img/transparent-coca.png" alt=""></a></li>
            <li><a href="" class="project_link">Claro <img src="/img/transparent-claro.png" alt=""></a></li>
            <li><a href="" class="project_link">HBO MAX <img src="/img/transparent-hbo.png" alt=""></a></li>
            <li><a href="" class="project_link">SKR <img src="/img/transparent-skr.png" alt=""></a></li>
            <li><a href="" class="project_link">Coca Cola <img src="/img/transparent-coca.png" alt=""></a></li>
            <li><a href="" class="project_link">Netflix <img src="/img/transparent-coca.png" alt=""></a></li>
    
        </ul>
        <img id="img-1" src="/img/finalizacao-08.png" class="transparent_img" alt="">

    </div>

    <script src="./js/projects-menu.js"></script>
</body>
</html>