<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/config.css">
    <link rel="stylesheet" href="./css/projects-menu.css">
    <title>Good Fischer</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="./temporary-images/logo-orange.png" alt="">
        </div>

        <ul>
            <li><a href="" class="project_link">Avon - A beleza vem</a></li>
            <li><a href="" class="project_link">Avon - A beleza vem</a></li>
            <li><a href="" class="project_link">Avon - A beleza vem</a></li>
            <li><a href="" class="project_link">Avon - A beleza vem</a></li>
            <li><a href="" class="project_link">Avon - A beleza vem</a></li>
            <li><a href="" class="project_link">Avon - A beleza vem</a></li>
            <li><a href="" class="project_link">Avon - A beleza vem</a></li>
        </ul>
        <img id="img-1" src="./temporary-images/img-15-i.png" class="transparent_img" alt="">

    </div>

    <script src="./js/projects-menu.js"></script>
</body>
</html>