/* :root{
    --top: 0;
    --right: 0;
} */

@font-face {
    font-family: PPTelegraf;
    src: url("/fonts/ufonts.com_american-typewriter-condensed-light.ttf") format("opentype");
    src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype");
}

body{
    font-family: PPTelegraf;
    /* font-size: 2rem; */
}

header{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
}

header img{
    width: 20%;
    margin-left: 5rem;
}

.container{
    display: flex;
    padding: 1.7rem 0 0rem 0;
}

.container .div_c{
    width: 50%;
}

.img_div{
    height: 84vh;
}

.img_div img{
    width: 100%;
}

.text p{
    font-size: 1.555rem;
    line-height: 1.9rem;
    padding: 1rem 4.9rem 1.3rem 5rem;
}

.img_loop_div{
    position: relative;
    /* top: var(--top);
    right: var(--right); */
    width: 25%;
}

#img-loop img{
    width: 100%;
    animation: rotate 10s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}