/* :root{
    --top: 0;
    --right: 0;
} */

/* @font-face {
    font-family: AttilaSansSharp-lght;
    src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype");
} */

@font-face {
    font-family: PPTelegraf;
    src: url("/fonts/ufonts.com_american-typewriter-condensed-light.ttf") format("opentype");
    /* src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype"); */
}

@font-face {
    font-family: americaTypeWriter;
    src: url("/fonts/ufonts.com_american-typewriter-condensed-light.ttf") format("opentype");
    /* src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype"); */
}

body{
    /* font-family: PPTelegraf; */
    font-family: americaTypeWriter;
    /* font-size: 2rem; */
}

header{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* border: solid 2px red; */
}

header a{
    width: 20%;
    margin-left: 5rem;
}

header img{
    width: 100%;
    /* margin-left: 5rem; */
}

.container{
    display: flex;
    padding: .7rem 0 0rem 0;
}

.container .div_c_1{
    width: 48%;
}

.container .div_c_2{
    width: 52%;
}

.img_div{
    height: 84vh;
}

.img_div img{
    width: 100%;
}

.text{
    display: flex;
    justify-content: space-between;
    /* border: solid 2px red; */
}

.text p{
    font-size: 1.47rem;
    line-height: 1.6rem;
    font-weight: 500;
    padding-bottom: 2rem;
    /* padding: 1rem 4.9rem 1.3rem 5rem; */
    width: 100%;
    /* AttilaSansSharp-lght */
}

.txt{
    width: 69%;
    /* border: solid 2px blue; */
    padding-right: 7rem;
}

.img_loop_div{
    /* position: relative; */
    /* top: var(--top);
    right: var(--right); */
    width: 17%;
    margin-left: 5rem;
}

#img-loop img{
    width: 100%;
    animation: rotate 10s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}