@font-face {
    font-family: PPTelegraf;
    src: url("/fonts/PPTelegraf-Regular.otf") format("opentype");
    /* src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype"); */
}
@font-face {
    font-family: PPTelegraf-light;
    src: url("/fonts/PPTelegraf-UltraLight.otf") format("opentype");
    /* src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype"); */
}

@font-face {
    font-family: americaTypeWriter;
    src: url("/fonts/ufonts.com_american-typewriter-condensed-light.ttf") format("opentype");
    /* src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype"); */
}


@font-face {
    font-family: AttilaSansSharp-lght;
    src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype");
}

.container{
    /* background-image: url(/img/fundo-0.png); */
    /* background-position: cover; */
}

body{
    min-height: 300vh;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    /* width: 2px; */
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.212);
}



header{
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 4rem;
    /* border: solid 2px red; */
}

header a{
    font-size: 3rem;
    font-weight: lighter;
    /* color: rgb(232, 176, 9); */
    text-decoration: none;
    margin-left: 2rem;
    /* border: solid 2px red; */
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a img{
    width: 100%;
}

.logo{
    margin: 2.4rem 0;
    width: 100%;
    /* height: 120vh; */
    /* background-image: url(../temporary-images/logo-1.png);
    background-size: cover; */

}

.logo img{
    width: 100%;
    /* opacity: 0; */
}


.teste_fundo{
    width: 99vw;
    height: 100vh;
    /* border: solid 2px red; */
    position: sticky;
    top: 0vh;
    z-index: -1;
}

.teste_fundo img{
    width: 100%;
    height: 100%;
}


.project{
    /* border: solid 2px red; */
}

.fundo_2{
    margin-top: -100vh;
 
}



.fundo_2::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}



.fundo_2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.212);
}


.project{
    width: 100%;
    min-height: 40vh;
    padding: 3rem 0 10rem 0;
    /* border: solid 2px red; */
}




.div_link{
    position: relative;
}



.titles_p_div {
    font-family: AttilaSansSharp-lght;
    color: transparent;
    position: absolute;
    font-size: 5rem;
    transition: .5s;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 0;
}

.titles_p_div:hover{
    transition: .5s;
    color: white;
    cursor: pointer;
}

.titles_p_div .p_1{
    font-size: 8rem;
    letter-spacing: 3px;
}
.titles_p_div .p_2{
    font-size: 3rem;
    letter-spacing: 2px;
}
.titles_p_div .p_3{
    font-size: 3rem;
    letter-spacing: 2px;
    margin-left: 5px;
}


.p1 .div_link{
    width: 53%;
    margin-left: 14%;
    margin-bottom: 8rem;
}

.p1 img{
    width: 100%;
}

.p2{
    display: flex;
    justify-content: flex-end;
}


.p2 img{
    width: 100%;
}

.p2 .div_link{
    position: relative;
    width: 54%;
    margin-right: 40%;
}


.p3 .div_link{
    width: 75%;
    margin-left: 7%;
}

.p3 img{
    width: 100%;
}




.p4 .div_link{
    width: 83%;
    margin-left: 11%;
}

.p4 img{
    width: 100%;
}

.p5 .div_link{
    width: 100%;
}

.p5 img{
    width: 100%;
}

.p6{
    display: flex;
    justify-content: center;
}

.p6 .div_link{
    width: 69%;
}
.p6 img{
    width: 100%;
}

.p7{
    display: flex;
    justify-content: flex-end;
}

.p7 .div_link{
    width: 55%;
    margin-right: 4%;
}
.p7 img{
    width: 100%;
}

/* .p8 .div_link{
    width: 75%;
} */

.p8 {
    display: flex;
    justify-content: flex-end;
}

.p8 img{
    margin-right: 6%;
    width: 75%;
}

.p9 .div_link{
    margin-left: 10%;
    width: 50%;
}

.p9 img{
    width: 100%;
}

.fischer{
    display: flex;
    justify-content: center;
    opacity: 0;
}

/* .fischer img{
    width: 84%;
    padding-bottom: .5rem;
} */

.bottom_img{
    /* border: solid 2px red;    */
    margin-top: 20vh;
}

.bottom_img img{
    width: 52%;
    margin-left: 5%;
}