
img{
    width: 76%;
}

.div_video{
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 8rem 0;
}

.div_video iframe{
    width: 100%;
    height: 104vh;
}