@font-face {
    font-family: PPTelegraf;
    src: url("/fonts/PPTelegraf-Regular.otf") format("opentype");
    /* src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype"); */
}
@font-face {
    font-family: PPTelegraf-light;
    src: url("/fonts/PPTelegraf-UltraLight.otf") format("opentype");
    /* src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype"); */
}

@font-face {
    font-family: americaTypeWriter;
    src: url("/fonts/ufonts.com_american-typewriter-condensed-light.ttf") format("opentype");
    /* src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype"); */
}


@font-face {
    font-family: AttilaSansSharp-lght;
    src: url("/fonts/AttilaSansSharp-Light.otf") format("opentype");
}



body{
    padding: 6rem 4rem;
}


.container{
    display: flex;
    flex-direction: column;
}

.logo a{
    width: 20%;
    /* opacity: 1; */
}
.logo img{
    width: 20%;
    opacity: 1;
}

ul{
    margin-top: 2rem;
    list-style: none;
    border-top: black 3px solid;
}

ul li{
    padding: 1.5rem 0 0 0;
    border-bottom: black 3px solid;
    /* height: 12vh; */
}

ul a{
    font-size: 3rem;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: sans-serif;
    width: 100%;
    font-weight: 100;
    /* border: solid 2px red; */
    padding: 0 0 1.5rem 0;
    /* border: solid 2px red; */

    /* background-color: red; */
}

/* ul a p:hover{
    background-color: red;
} */

ul a img{
    /* width: 17%; */
    max-width: 16%;
    margin-bottom: 0.5%;
    /* font-size: 3rem;
    color: black;
    text-decoration: none; */
}

/* ul a p{
    width: 50%;
    border: solid 2px red;
} */

ul a .p_transparent{
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.377);

    display: flex;
    justify-content: flex-end;

    /* font-family: PPTelegraf;  */
    font-family: americaTypeWriter;
}
ul a .name_p{
    /* font-size: 1.8rem; */
    letter-spacing: 1px;
    /* color: rgba(0, 0, 0, 0.377); */

    letter-spacing: 2px;

    /* font-family: PPTelegraf;  */
    font-family: PPTelegraf-light; 
    /* font-family: americaTypeWriter; */
    /* font-family: AttilaSansSharp-lght; */
}



.transparent_img{
    position: absolute;
    top: 32%;
    left: 20%;
    opacity: 0;
    transition: .8s;
    width: 50%;
}

.transparent_img_on{
    transition: .8s;
    opacity: 1;
}