<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/config.css">
    <link rel="stylesheet" href="../css/projects-pages.css">
    <title>Good Fischer Porject</title>
</head>
<body>
    <header>
        <img src="../temporary-images/logo-project.png" alt="">
    </header>
    <div class="texts">
        <p class="p_1">
            <b>Agency:</b> Good Fischer.
        </p>
        <p class="p_2">
            <b>Description:</b> dolor in hendrerit in vulputate velit esse molestie consequat, vel
            illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
            nulla facilisi.
        </p>
        <p class="p_3">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volu
        </p>
    </div>
    <div class="img_1">
        <img src="../temporary-images/img-11.png" alt="">
    </div>
    <div class="video">
        <div class="iframe_parent" id="iframe-parent">
            <!-- <iframe poster="../temporary-images/img-12.png" id="iframe-id-1" src="https://player.vimeo.com/video/710573647?h=8406976438" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
            </iframe>
            <video poster="">
                <source src="https://player.vimeo.com/video/710573647?h=8406976438" type="video/mp4">
            </video> -->
        </div>
        <img id="img-video-1" src="../temporary-images/img-1.png"  alt="">
    </div>
    <div class="img_2">
        <img src="../temporary-images/img-13.png" alt="">
    </div>
    <div class="img_3">
        <img src="../temporary-images/img-14-p-bottom.png" alt="">
    </div>
    <script src="../js/project-pages.js"></script>
</body>
</html>


<!-- <iframe src="https://player.vimeo.com/video/710573647?h=8406976438" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<p><a href="https://vimeo.com/710573647">OLX - Recome&ccedil;os</a> from <a href="https://vimeo.com/danielbontempo">Daniel Bontempo</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->